.carousel{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  margin-top: 0;
  position: relative;
  &__inner {
    height: 100%;
    .carousel__slide::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.05);
      z-index: 1;
    }
    .carousel__img{
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slick-track{
    display: flex;
    height: inherit;
  }
  .slick-list{
    height: inherit;
  }
  .draggable{
    height: 100%;
  }
  .slick-dots{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 0;
    width: 100%;
    li{
      margin: 0 8px;
      list-style-type: none;
      button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 100%;
      }
      &.slick-active{
        button{
          width: 17px;
          height: 17px;
          background-color: $main-color;
        }
      }
    }
  }
  &__info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    h1{
      color: #FFFFFF;
    }
    .carousel__title{
      color: #FFFFFF;
      font-size: 70px;
      font-weight: 700;
      line-height: 110%;
      &-color{
        color: #FFC1D8;
      }
    }
    .carousel__subtitle{
      width: 500px;
      margin: 20px auto 0;
      color: #FFFFFF;
    }
  }
  .carousel__line{
    position: absolute;
    z-index: 1;
    bottom: -1px;
    fill: #FFFFFF;
    width: 100%;
  }
  .carousel__icon{
    width: 100%;
    height: auto;
  }
}
