.carousel {
  height: 700px;
  width: 100%;
  &__inner {

    &__img{

      width: 100%;
      background: center (center/cover) no-repeat;
      height: 700px;
      object-fit: cover;
    }
  }

  .slick-dots, .slick-next {
    display: flex;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
  }

  .slick-next {
    //right: -66px;
    //left: auto;
  }
}