.header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 5;
  background-color: $main-color;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1400px;
    margin: auto auto;
  }
  &__logo{
    display: block;
    margin-right: 170px;
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    span{
      color: #FFC1D8;
    }
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    .header-menu__item{
      margin-right: 50px;
      &:last-child{
        margin-right: 0;
      }
      .header-menu__link{
        color: #FFF;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    width: 180px;
    .header-search__input{
      font-size: inherit;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      color: #FFF;
      outline: none;
      width: 100%;
      &::placeholder{
        color: #FFF;
      }
    }
    .header-search__button{
      object-fit: cover;
      height: auto;
      background: transparent;
      border: none;
      .header-search__icon{
        width: auto;
        height: 100%;
      }
    }
  }
}
