.header{
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: $main-color;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1400px;
  margin: auto auto;
  .logo{
    display: block;
    color: #FFF;
    margin-right: 170px;
    h4{
      font-weight: 800;
    }
    &__text{
      color: #FFC1D8;
    }
  }
  .menu{
    display: flex;
    justify-content: space-between;
    &-item{
      margin-right: 50px;
      &:last-child{
        margin-right: 0;
      }
    }
    &-link{
      color: #FFF;
    }
  }
  .search-form{
    display: flex;
    align-items: center;
    width: 180px;
    &__input{
      font-size: inherit;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      color: #FFF;
      outline: none;
      width: 100%;
      &::placeholder{
        color: #FFF;
      }
    }
    &__button{
      object-fit: cover;
      height: auto;
      background: transparent;
      border: none;
      .button-search{
        width: auto;
        height: 100%;
      }
    }
  }
}