@media (max-width: 1380px) {
  .navigation{
    padding: 0 15px;
    &__logo{
      margin-right: 100px;
    }
    &__link{
      &__tab{
        a{
          margin-right: 40px;
        }
      }
    }
  }
  .container{
    padding: 0 15px;
  }
}
@media (max-width: 1200px) {
  .navigation{
    &__logo{
      margin-right: 50px;
    }
    &__link{
      &__tab{
        a{
          margin-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .navigation{
    padding: 0 15px;
    &__logo{
      font-size: 32px;
      margin-right: 30px;
    }
    &__link{
      &__tab{
        a{
          font-size: 14px;
          margin-right: 20px;
        }
      }
    }
  }
  .button{
    padding: 8px 32px;
    font-size: 14px;
  }
  .navigation__form{
    input{
      font-size: 14px;
    }
    height: 14px;
    &__button{
      font-size: 15px;
      img{
        height: 14px;
        width: 14px;
      }
    }
  }
  .carousel{
    &__welcome{
      &__title{
        font-size: 62px;
      }
      &__desc{
        font-size: 15px;
      }
      &__button{
        font-size: 15px;
        width: 200px;
        height: 60px;
      }
    }
  }
  .sport{
    margin: 80px 0;
    .meet{
      &__text{
        &__title{
          font-size: 32px;
        }
        &__desc{
          font-size: 15px;
          line-height: 30px;
        }
        &__button{
          margin-top: 30px;
          width: 200px;
          height: 58px;
          font-size: 15px;
        }
      }
      &__images{
        &.image1{
          max-width: 320px;
        }
        .image2{
          right: 40px;
          height: 70%;
          max-width: 200px;
        }
        .image3{
          height: 55%;
          max-width: 350px;
        }
        .image4{
          height: 50%;
          max-width: 340px;
        }
      }
    }
  }
  .stories{
    margin: 80px 0;
    &__title{
      font-size: 42px;
    }
    &__desc{
      font-size: 15px;
    }
    &__display-grid{
      .about-card{
        &__title{
          font-size: 32px;
        }
        &__grid{
          .quotes{
            font-size: 48px;
          }
          .desc{
            margin-top: 10px;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }
  .phone{
    .phone__info-app{
      .phone__text{
        width: 40%;
        &__title{
          font-size: 32px;
        }
        &__desc{
          font-size: 15px;
          line-height: 25px;
        }
      }
      .phone__media1{
        img{
          margin-top: 50px;
        }
      }
    }
  }
  .social{
    &__title{
      font-size: 32px;
    }
    &__media{
      &__circle{
        width: 100px;
        height: 100px;
      }
    }
  }
  .footer{
    &__flex{
      padding: 80px 0;
      &__text{
        max-width: 200px;
        .title{
          font-size: 22px;
        }
      }
      &__links{
        max-width: 200px;
        .title{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}