.sport{
  margin: 100px 0;
  height: 500px;

}
.meet{
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 500px;
  &__images{
    position: relative;
    width: 50%;
    img{
      &.image1{
        position: absolute;
        max-width: 340px;
      }
      &.image2{
        position: absolute;
        right: 80px;
        bottom: 0;
        max-width: 240px;
      }
      &.image3{
        position: absolute;
        left: 0;
        max-width: 440px;
        z-index: 4;
      }
      &.image4{
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 420px;
      }
    }
  }
  &__text{
    width: 40%;
    margin: auto 0;
    &__title{
      font-size: 40px;
      font-weight: 800;
      color: $main-color;
    }
    &__desc{
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 37px;
    }
    &__button{
      color: $main-color;
      margin-top: 50px;
      width: 237px;
      height: 68px;
      border-color: $main-color;
      background: transparent;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}