.meet{
  padding: 100px 0;
  position: relative;
}
.meet-container{
  position: relative;
  height: max-content;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  .meet__images{
    position: relative;
    display: flex;
    flex-direction: column;
    .meet__image1{
      position: absolute;
      max-width: 350px;
      max-height: 400px;
      flex-shrink: 1;
      top: 0;
      left: 0;
    }
    .meet__image2{
      position: absolute;
      max-width: 240px;
      max-height: 360px;
      flex-shrink: 1;
      bottom: 0;
      right: 100px;
      z-index: 2;
    }
    .meet__image3{
      position: absolute;
      max-width: 445px;
      max-height: 300px;
      flex-shrink: 1;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .meet__image4{
      position: absolute;
      max-width: 420px;
      max-height: 280px;
      flex-shrink: 1;
      bottom: 0;
      right: 0;
    }
  }
  .meet__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .meet__title{
      color: $main-color;
    }
    .meet__desc{
      padding: 20px 0;
      color: #000000;
    }
  }
}
