.phone{
  background-color: $main-color;
}
.phone__container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  .phone__info {
    padding: 100px 0;
    max-width: 490px;
    margin: auto 0;
    .phone__title {
      color: #FFFFFF;
    }
    .phone__desc {
      margin-top: 20px;
      color: #FFF;
    }
    .phone__promo {
      padding-top: 20px;
      .phone__subtitle{
        color: rgba(255, 255, 255, 0.60);
      }
      .phone__links{
        display: flex;
        .phone__link{
          width: 135px;
          height: 40px;
          flex-shrink: 0;
          &:first-child{
            margin-right: 10px;
          }
          &-store{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .phone__media {
    display: flex;
    object-fit: cover;
    .phone__photo{
      position: relative;
      object-fit: cover;
      &:first-child{
        transform: translateY(-40px);
      }
      &:last-child{
        transform: translateY(100px);
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background: #EDEDED;
        }
      }
      .phone__photo{
        width: 100%;
        height: 100%
      }
    }
  }
}
